<section class="hero-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="hero-text">
          <h1>Sona A Luxury Hotel</h1>
          <p>
            Here are the best hotel booking sites, including recommendations for
            international travel and for finding low-priced hotel rooms.
          </p>
          <a href="#" class="primary-btn">Discover Now</a>
        </div>
      </div>
      <div class="col-lg-6">
        <app-booking-form></app-booking-form>
      </div>
    </div>
  </div>
  <div class="hero-slider">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of slides">
        <ng-template carouselSlide [id]="slide.id">
          <img class="hs-item set-bg" [src]="slide.img" [title]="slide.id" />
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>

  <!-- <div class="hero-slider owl-carousel">
    <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-1.jpg"></div>
    <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-2.jpg"></div>
    <div class="hs-item set-bg" data-setbg="assets/img/hero/hero-3.jpg"></div>
  </div> -->
</section>
