<app-bread-crumb></app-bread-crumb>

<!-- Room Details Section Begin -->
<section class="room-details-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="room-details-item">
          <img [src]="roomInfo[0]?.thumbnail" alt="" />
          <div class="rd-text">
            <div class="rd-title">
              <h3>{{ roomInfo[0]?.name }}</h3>
              <div class="rdt-right">
                <div class="rating">
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star"></i>
                  <i class="icon_star-half_alt"></i>
                </div>
                <a [routerLink]="'/contact/' + roomInfo[0].id">Booking Now</a>
              </div>
            </div>
            <h2>{{ roomInfo[0]?.price }}$<span>/Pernight</span></h2>
            <table>
              <tbody>
                <tr>
                  <td class="r-o">Size:</td>
                  <td>{{ roomInfo[0]?.size }} ft</td>
                </tr>
                <tr>
                  <td class="r-o">Capacity:</td>
                  <td>Max persion {{ roomInfo[0]?.capacity }}</td>
                </tr>
                <tr>
                  <td class="r-o">Bed:</td>
                  <td>{{ roomInfo[0]?.type }}</td>
                </tr>
                <tr>
                  <td class="r-o">Services:</td>
                  <td>{{ roomInfo[0]?.services }}</td>
                </tr>
              </tbody>
            </table>
            <p class="f-para">
              {{ roomInfo[0]?.description }}
            </p>
            <p></p>
          </div>
        </div>
        <!-- Review Component -->
        <app-review-room [roomId]="idSlug"></app-review-room>
        <!-- Review Component -->
      </div>
      <div class="col-lg-4">
        <app-booking-form [roomId]="idSlug"></app-booking-form>
      </div>
    </div>
  </div>
</section>
<!-- Room Details Section End -->
