<header class="header-section">
  <div class="menu-item">
    <div class="container">
      <div class="row">
        <div class="col-lg-2">
          <div class="logo">
            <a href="">
              <img src="/assets/img/logo.png" alt="" />
            </a>
          </div>
        </div>
        <div class="col-lg-10">
          <div class="nav-menu">
            <nav class="mainmenu">
              <ul>
                <li class="active"><a routerLink="/">Home</a></li>
                <li><a routerLink="/rooms">Rooms</a></li>
                <li><a href="">About Us</a></li>
                <li>
                  <a href="">Pages</a>
                  <ul class="dropdown">
                    <li><a href="">Room Details</a></li>
                    <li><a href="">Blog Details</a></li>
                    <li><a href="#">Family Room</a></li>
                    <li><a href="#">Premium Room</a></li>
                  </ul>
                </li>
                <li><a href="">News</a></li>
                <li><a href="">Contact</a></li>
              </ul>
            </nav>
            <div class="nav-right search-switch">
              <i class="icon_search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
