<div class="col-xl-4 col-lg-5">
  <div class="booking-form">
    <h3>Booking Your Hotel</h3>
    <form [formGroup]="form">
      <div class="check-date">
        <label for="date-in">Check In:</label>
        <input
          type="date"
          class="date-input"
          id="date-in"
          autocomplete="none"
          formControlName="checkIn"
          [ngClass]="{ 'is-invalid': isSubmit && f.checkIn.errors }"
          [min]="today"
        />
        <div *ngIf="isSubmit && f.checkIn.errors" class="invalid-feedback">
          <span *ngIf="f.checkIn.errors.required"
            >Please pick your check in date</span
          ><br />
        </div>
        <!-- <i class="icon_calendar"></i> -->
      </div>
      <div class="check-date">
        <label for="date-out">Check Out:</label>
        <input
          type="date"
          class="date-input"
          id="date-out"
          autocomplete="none"
          formControlName="checkOut"
          [ngClass]="{ 'is-invalid': isSubmit && f.checkOut.errors }"
          [min]="today"
        />
        <div *ngIf="isSubmit && f.checkOut.errors" class="invalid-feedback">
          <span *ngIf="f.checkOut.errors.required"
            >Please pick your check out date</span
          ><br />
        </div>
        <div *ngIf="isSubmit && !isAvailableDay" class="invalid-feedback">
          <span>Your check out date is not suitable</span><br />
        </div>
        <!-- <i class="icon_calendar"></i> -->
      </div>
      <div class="select-option">
        <label for="guest">Guests:</label>
        <ng-select
          [items]="guest"
          bindLabel="name"
          bindValue="id"
          class="nice-select"
          formControlName="quantityGuest"
          [ngClass]="{ 'is-invalid': isSubmit && f.quantityGuest.errors }"
        >
        </ng-select>

        <div
          *ngIf="isSubmit && f.quantityGuest.errors"
          class="invalid-feedback"
        >
          <span *ngIf="f.quantityGuest.errors.required"
            >Please select your number people</span
          ><br />
        </div>
      </div>
      <div class="select-option">
        <label for="room">Room:</label>
        <ng-select
          [items]="room"
          bindLabel="name"
          bindValue="id"
          class="nice-select"
          formControlName="quantityRoom"
          [ngClass]="{ 'is-invalid': isSubmit && f.quantityRoom.errors }"
        >
        </ng-select>
        <div *ngIf="isSubmit && f.quantityRoom.errors" class="invalid-feedback">
          <span *ngIf="f.quantityRoom.errors.required"
            >Please pick your quantity room</span
          ><br />
        </div>
      </div>
      <button (click)="onSubmit()" type="button">Check Availability</button>
    </form>
  </div>
</div>
