.login__container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login__wrapper {
    min-height: 500px;
    min-width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
}

.login__title {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.login__form {
    padding: 0 30px;
}

.login__input {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.login__input-group {
    display: flex;
}

.login__input-name {
    font-size: 1.2rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 5px;
}

.login__input-content {
    border: none;
    border-bottom: 1px solid #8e8e8e;
    font-size: 1rem;
    padding: 8px 15px;
    outline: none;
    border-radius: 3px;
}

.login__input-help {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    color: #000;
    border: none;
    background-color: transparent;
    text-decoration: none;

    &:hover {
        color: #1a73e8;
        cursor: pointer;
    }
}

.login__input-btn {
    margin-top: 20px;
    font-size: 1.8rem;
    color: #000;
    width: 100%;
    padding: 8px 16px;
    text-align: center;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #70c8e0 , #a885ea, #e043f4);
}

.login__text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;

}
.login__text-content {
    font-size: 1rem;
    margin: 0 5px;
    color: #000;
}

.login__btn-text {
    display: block;
    justify-items: center;
    font-size: 1rem;
    color: #1a73e8;
    border: none;
    background-color: transparent;
    text-decoration: none;
}

.form-input-item-error {
    color: red;
}