<!-- Home Room Section Begin -->
<section class="hp-room-section">
  <div class="container-fluid">
    <div class="hp-room-items">
      <div class="row">
        <div class="col-lg-3 col-md-6" *ngFor="let room of listRoom">
          <div class="hp-room-item set-bg">
            <img [src]="room.thumbnail" alt="" class="hp-room-item set-bg" />
            <div class="hr-text">
              <h3></h3>
              <h2>{{ room.price }}$<span>/Pernight</span></h2>
              <table>
                <tbody>
                  <tr>
                    <td class="r-o">Size:</td>
                    <td>{{ room.size }} ft</td>
                  </tr>
                  <tr>
                    <td class="r-o">Capacity:</td>
                    <td>{{ room.capacity }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Bed:</td>
                    <td>{{ room.type }}</td>
                  </tr>
                  <tr>
                    <td class="r-o">Services:</td>
                    <td>{{ room.services }}</td>
                  </tr>
                </tbody>
              </table>
              <a [href]="'/room/' + room.id" class="primary-btn"
                >More Details</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Home Room Section End -->
