<app-bread-crumb></app-bread-crumb>

<!-- Rooms Section Begin -->
<section class="rooms-section spad">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-4 col-md-6"
        *ngFor="
          let room of listRoom
            | paginate : { itemsPerPage: pageSize, currentPage: page }
        "
      >
        <app-room [room]="room"></app-room>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="room-pagination">
        <pagination-controls
          currentPage="page"
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="onPageChange($event)"
        ></pagination-controls>
        <!-- <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">Next <i class="fa fa-long-arrow-right"></i></a> -->
      </div>
    </div>
  </div>
</section>
<!-- Rooms Section End -->
