<div class="room-item">
  <img [src]="room.thumbnail" [alt]="room.name" />
  <div class="ri-text">
    <h4>{{ room.name }}</h4>
    <h3>{{ room.price }}$<span>/Pernight</span></h3>
    <table>
      <tbody>
        <tr>
          <td class="r-o">Size:</td>
          <td>{{ room.size }} ft</td>
        </tr>
        <tr>
          <td class="r-o">Capacity:</td>
          <td>{{ room.capacity }}</td>
        </tr>
        <tr>
          <td class="r-o">Bed:</td>
          <td>{{ room.type }}</td>
        </tr>
        <tr>
          <td class="r-o">Services:</td>
          <td>{{ room.services }}</td>
        </tr>
      </tbody>
    </table>
    <a [href]="'/room/:' + room.id" class="primary-btn">More Details</a>
  </div>
</div>
